<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Post to List</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Post Title:</label>
        <br>
        <input #newTitle>
      </div>

      <div>
        <label>Post Author:</label>
        <br>
        <input #newAuthor>
      </div>
      <div>
        <label>Post Category:</label>
        <br>
        <input #newCategory>
      </div>
      <div>
        <label>Post Description:</label>
        <br>
        <textarea #newDescription></textarea>
      </div>
      <div>
        <label>Post Cost:</label>
        <br>
        <input #newCost type="number">
      </div>
       <button (click)="submitForm(newTitle.value, newAuthor.value, newCategory.value, newDescription.value, newCost.value); newTitle.value=''; newAuthor.value=''; newCategory.value=''; newDescription.value=''; newCost.value=''">Create Post</button>
    </div>
  </div>
</div>
<div>
  <app-post-list></app-post-list>
</div>
